bin/NguyenProject2Debug.app/Contents/PkgInfo
bin/NguyenProject2Debug.app/Contents/_CodeSignature/CodeResources
bin/NguyenProject2Debug.app/Contents/Frameworks/libfmodex.dylib
bin/NguyenProject2Debug.app/Contents/MacOS/NguyenProject2Debug
bin/NguyenProject2Debug.app/Contents/Resources/icon-debug.icns
bin/nguyenRunwayDebug.app/Contents/PkgInfo
bin/nguyenRunwayDebug.app/Contents/_CodeSignature/CodeResources
bin/nguyenRunwayDebug.app/Contents/Frameworks/libfmodex.dylib
bin/nguyenRunwayDebug.app/Contents/MacOS/nguyenRunwayDebug
bin/nguyenRunwayDebug.app/Contents/Resources/icon-debug.icns
